<?xml version="1.0"?>
<launch>
  <!-- ros_bridge node -->
  <include file="$(find imoto_equipment)/launch/plc_ros_bridge_heatpress_IMC6219.launch" />
  <include file="$(find imoto_equipment)/launch/plc_ros_bridge_coldpress_IMC6219.launch" />
  <!-- operator node -->
  <include file="$(find imoto_equipment)/launch/heatpress_operator.launch" />
  <include file="$(find imoto_equipment)/launch/coldpress_operator.launch" />
</launch>
